/* fix the tabs-bar
* https://github.com/ghostty-org/ghostty/discussions/3190 */
tabbar {
  background-color: #0B0B0B;
}

tabbar tabbox {
  padding: 0;
  margin: 7px 2px;
  background-color: none  border-top: 1px solid #191919;
}

tabbar tabbox separator {
  background-color: #19191900;
}

tabbar tabbox tab {
  font-family: "DM Sans";
  /* font-size: 10.2pt; */
  /* font-family: "Iosevka Aile"; */
  /* font-family: "Fantasque Sans Mono"; */
  letter-spacing: 0.2px;
  /* font-size: 10.7pt; */
  font-size: 10.2pt;
  font-weight: 500;
  color: #666666;

  padding: 6px 14px 6px 30px;
  margin: 0px 8px 0px 0px;

  border-bottom: 2px solid #00000000;
  border-radius: 6px;
}

tabbar tabbox tab:selected {
  background-color: #111111f5;
  /* background-color: #00000000; */
  color: #eeeeee;

  border-bottom: 2px solid #4E88FF00;
  border-radius: 6px;
}

tabbar tabbox tabboxchild {
  border-radius: 0px;
  margin-left: -6px;
}

tabbar tabbox tab button {
  min-width: 0px;
  margin-right: -70px;
}

